comparison/new/jaxb-ri/samples/ubl/cd-UBL-1.0/xsd/common/UBL-CoreComponentTypes-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.
 
 Copyright 1997-2007 Sun Microsystems, Inc. All rights reserved.
 
 The contents of this file are subject to the terms of either the GNU
 General Public License Version 2 only ("GPL") or the Common Development
 and Distribution License("CDDL") (collectively, the "License").  You
 may not use this file except in compliance with the License. You can obtain
 a copy of the License at https://glassfish.dev.java.net/public/CDDL+GPL.html
 or glassfish/bootstrap/legal/LICENSE.txt.  See the License for the specific
 language governing permissions and limitations under the License.
 
 When distributing the software, include this License Header Notice in each
 file and include the License file at glassfish/bootstrap/legal/LICENSE.txt.
 Sun designates this particular file as subject to the "Classpath" exception
 as provided by Sun in the GPL Version 2 section of the License file that
 accompanied this code.  If applicable, add the following below the License
 Header, with the fields enclosed by brackets [] replaced by your own
 identifying information: "Portions Copyrighted [year]
 [name of copyright owner]"
 
 Contributor(s):
 
 If you wish your version of this file to be governed by only the CDDL or
 only the GPL Version 2, indicate your decision by adding "[Contributor]
 elects to include this software in this distribution under the [CDDL or GPL
 Version 2] license."  If you don't indicate a single choice of license, a
 recipient has the option to distribute your version of this file under
 either the CDDL, the GPL Version 2 or to extend the choice of license to
 its licensees as provided above.  However, if you add GPL Version 2 code
 and therefore, elected the GPL Version 2 license, then the option applies
 only if the new code is made subject to such option by the copyright
 holder.
-->

<!--
  Universal Business Language (UBL) Schema 1.0

  Copyright (C) OASIS Open (2004). All Rights Reserved.

  This document and translations of it may be copied and furnished to others, and
  derivative works that comment on or otherwise explain it or assist in its
  implementation may be prepared, copied, published and distributed, in whole or
  in part, without restriction of any kind, provided that the above copyright
  notice and this paragraph are included on all such copies and derivative works.
  However, this document itself may not be modified in any way, such as by
  removing the copyright notice or references to OASIS, except as needed for the
  purpose of developing OASIS specifications, in which case the procedures for
  copyrights defined in the OASIS Intellectual Property Rights document must be
  followed, or as required to translate it into languages other than English.

  The limited permissions granted above are perpetual and will not be revoked by
  OASIS or its successors or assigns.

  This document and the information contained herein is provided on an "AS IS"
  basis and OASIS DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT
  LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT
  INFRINGE ANY RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR
  A PARTICULAR PURPOSE.

  ===============================================================================

  For our absent friend, Michael J. Adcock  - il miglior fabbro

  ===============================================================================

  Universal Business Language Specification
      (http://www.oasis-open.org/committees/tc_home.php?wg_abbrev=ubl)
  OASIS Open (http://www.oasis-open.org/)


  Document Type:     CoreComponentTypes
  Generated On:      Tue Apr 27 11:28:51 2004
-->
<xsd:schema targetNamespace="urn:oasis:names:tc:ubl:CoreComponentTypes:1:0" xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1:0" xmlns="urn:oasis:names:tc:ubl:CoreComponentTypes:1:0" xmlns:cct="urn:oasis:names:tc:ubl:CoreComponentTypes:1:0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1:0">
	<xsd:import namespace="urn:oasis:names:tc:ubl:CoreComponentParameters:1:0" schemaLocation="UBL-CoreComponentParameters-1.0.xsd"/>
	<!-- ===== CCT: AmountType ===== -->
	<xsd:complexType name="AmountType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>CCT</ccts:ComponentType>
					<ccts:DictionaryEntryName>Amount. Type</ccts:DictionaryEntryName>
					<ccts:Definition>A number of monetary units specified in a currency where the unit of the currency is explicit or implied.</ccts:Definition>
					<ccts:ObjectClass>Amount</ccts:ObjectClass>
					<ccts:PropertyTerm>Type</ccts:PropertyTerm>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="amountCurrencyID" type="xsd:normalizedString" use="optional"/>
				<xsd:attribute name="amountCurrencyCodeListVersionID" type="xsd:normalizedString" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== CCT: BinaryObjectType ===== -->
	<xsd:complexType name="BinaryObjectType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>CCT</ccts:ComponentType>
					<ccts:DictionaryEntryName>Binary Object. Type</ccts:DictionaryEntryName>
					<ccts:Definition>A set of finite-length sequences of binary octets.</ccts:Definition>
					<ccts:ObjectClass>Binary Object</ccts:ObjectClass>
					<ccts:PropertyTerm>Type</ccts:PropertyTerm>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:base64Binary">
				<xsd:attribute name="format" type="xsd:string" use="optional"/>
				<xsd:attribute name="filename" type="xsd:string" use="optional"/>
				<xsd:attribute name="encodingCode" type="xsd:normalizedString" use="optional"/>
				<xsd:attribute name="characterSetCode" type="xsd:normalizedString" use="optional"/>
				<xsd:attribute name="mimeCode" type="xsd:normalizedString" use="optional"/>
				<xsd:attribute name="URI" type="xsd:anyURI" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== CCT: CodeType ===== -->
	<xsd:complexType name="CodeType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>CCT</ccts:ComponentType>
					<ccts:DictionaryEntryName>Code. Type</ccts:DictionaryEntryName>
					<ccts:Definition>A character string (letters, figures, or symbols) that for brevity and/or languange independence may be used to represent or replace a definitive value or text of an attribute together with relevant supplementary information.</ccts:Definition>
					<ccts:ObjectClass>Code</ccts:ObjectClass>
					<ccts:PropertyTerm>Type</ccts:PropertyTerm>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:normalizedString">
				<xsd:attribute name="name" type="xsd:string" use="optional"/>
				<xsd:attribute name="codeListID" type="xsd:normalizedString" use="optional"/>
				<xsd:attribute name="codeListAgencyID" type="xsd:normalizedString" use="optional"/>
				<xsd:attribute name="codeListAgencyName" type="xsd:string" use="optional"/>
				<xsd:attribute name="codeListName" type="xsd:string" use="optional"/>
				<xsd:attribute name="codeListVersionID" type="xsd:normalizedString" use="optional"/>
				<xsd:attribute name="codeListURI" type="xsd:anyURI" use="optional"/>
				<xsd:attribute name="codeListSchemeURI" type="xsd:anyURI" use="optional"/>
				<xsd:attribute name="languageID" type="xsd:language" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== CCT: DateTimeType ===== -->
	<xsd:simpleType name="DateTimeType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>CCT</ccts:ComponentType>
					<ccts:DictionaryEntryName>Date Time. Type</ccts:DictionaryEntryName>
					<ccts:Definition>A particular point in the progression of time together with the relevant supplementary information.</ccts:Definition>
					<ccts:ObjectClass>Date Time</ccts:ObjectClass>
					<ccts:PropertyTerm>Type</ccts:PropertyTerm>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
  	<xsd:restriction base="xsd:dateTime"/>
	</xsd:simpleType>
	<!-- ===== CCT: IdentifierType ===== -->
	<xsd:complexType name="IdentifierType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>CCT</ccts:ComponentType>
					<ccts:DictionaryEntryName>Identifier. Type</ccts:DictionaryEntryName>
					<ccts:Definition>A character string to identify and distinguish uniquely, one instance of an object in an identification scheme from all other objects in the same scheme together with relevant supplementary information.</ccts:Definition>
					<ccts:ObjectClass>Identifier</ccts:ObjectClass>
					<ccts:PropertyTerm>Type</ccts:PropertyTerm>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:normalizedString">
				<xsd:attribute name="identificationSchemeID" type="xsd:normalizedString" use="optional"/>
				<xsd:attribute name="identificationSchemeAgencyID" type="xsd:normalizedString" use="optional"/>
				<xsd:attribute name="identificationSchemeVersionID" type="xsd:normalizedString" use="optional"/>
				<xsd:attribute name="identificationSchemeURI" type="xsd:anyURI" use="optional"/>
				<xsd:attribute name="identificationSchemeAgencyName" type="xsd:string" use="optional"/>
				<xsd:attribute name="identificationSchemeName" type="xsd:string" use="optional"/>
				<xsd:attribute name="identificationSchemeDataURI" type="xsd:anyURI" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== CCT: IndicatorType ===== -->
	<xsd:simpleType name="IndicatorType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>CCT</ccts:ComponentType>
					<ccts:DictionaryEntryName>Indicator. Type</ccts:DictionaryEntryName>
					<ccts:Definition>A list of two mutually exclusive Boolean values that express the only possible states of a Property.</ccts:Definition>
					<ccts:ObjectClass>Indicator</ccts:ObjectClass>
					<ccts:PropertyTerm>Type</ccts:PropertyTerm>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<!-- ===== CCT: MeasureType ===== -->
	<xsd:complexType name="MeasureType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>CCT</ccts:ComponentType>
					<ccts:DictionaryEntryName>Measure. Type</ccts:DictionaryEntryName>
					<ccts:Definition>A numeric value determined by measuring an object along with the specified unit of measure.</ccts:Definition>
					<ccts:ObjectClass>Measure</ccts:ObjectClass>
					<ccts:PropertyTerm>Type</ccts:PropertyTerm>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="measureUnitCode" type="xsd:normalizedString" use="optional"/>
				<xsd:attribute name="measureUnitCodeListVersionID" type="xsd:normalizedString" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== CCT: NumericType ===== -->
	<xsd:simpleType name="NumericType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>CCT</ccts:ComponentType>
					<ccts:DictionaryEntryName>Numeric. Type</ccts:DictionaryEntryName>
					<ccts:Definition>Numeric information that is assigned or is determined by calculation, counting, or sequencing. It does not require a unit of quantity or unit of measure.</ccts:Definition>
					<ccts:ObjectClass>Numeric</ccts:ObjectClass>
					<ccts:PropertyTerm>Type</ccts:PropertyTerm>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal"/>
	</xsd:simpleType>
	<!-- ===== CCT: QuantityType ===== -->
	<xsd:complexType name="QuantityType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>CCT</ccts:ComponentType>
					<ccts:DictionaryEntryName>Quantity. Type</ccts:DictionaryEntryName>
					<ccts:Definition>A counted number of non-monetary units possibly including fractions.</ccts:Definition>
					<ccts:ObjectClass>Quantity</ccts:ObjectClass>
					<ccts:PropertyTerm>Type</ccts:PropertyTerm>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="quantityUnitCode" type="xsd:normalizedString" use="optional"/>
				<xsd:attribute name="quantityUnitCodeListID" type="xsd:normalizedString" use="optional"/>
				<xsd:attribute name="quantityUnitCodeListAgencyID" type="xsd:normalizedString" use="optional"/>
				<xsd:attribute name="quantityUnitCodeListAgencyName" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== CCT: TextType ===== -->
	<xsd:complexType name="TextType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>CCT</ccts:ComponentType>
					<ccts:DictionaryEntryName>Quantity. Type</ccts:DictionaryEntryName>
					<ccts:Definition>A character string (i.e. a finite set of characters) generally in the form of words of a language.</ccts:Definition>
					<ccts:ObjectClass>Text</ccts:ObjectClass>
					<ccts:PropertyTerm>Type</ccts:PropertyTerm>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="languageID" type="xsd:language" use="optional"/>
				<xsd:attribute name="languageLocaleID" type="xsd:normalizedString" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
    