jaxb-ri/comparison/new/jaxb-ri/samples/ubl/0p70/xsd/CoreComponentTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.
 
 Copyright 1997-2007 Sun Microsystems, Inc. All rights reserved.
 
 The contents of this file are subject to the terms of either the GNU
 General Public License Version 2 only ("GPL") or the Common Development
 and Distribution License("CDDL") (collectively, the "License").  You
 may not use this file except in compliance with the License. You can obtain
 a copy of the License at https://glassfish.dev.java.net/public/CDDL+GPL.html
 or glassfish/bootstrap/legal/LICENSE.txt.  See the License for the specific
 language governing permissions and limitations under the License.
 
 When distributing the software, include this License Header Notice in each
 file and include the License file at glassfish/bootstrap/legal/LICENSE.txt.
 Sun designates this particular file as subject to the "Classpath" exception
 as provided by Sun in the GPL Version 2 section of the License file that
 accompanied this code.  If applicable, add the following below the License
 Header, with the fields enclosed by brackets [] replaced by your own
 identifying information: "Portions Copyrighted [year]
 [name of copyright owner]"
 
 Contributor(s):
 
 If you wish your version of this file to be governed by only the CDDL or
 only the GPL Version 2, indicate your decision by adding "[Contributor]
 elects to include this software in this distribution under the [CDDL or GPL
 Version 2] license."  If you don't indicate a single choice of license, a
 recipient has the option to distribute your version of this file under
 either the CDDL, the GPL Version 2 or to extend the choice of license to
 its licensees as provided above.  However, if you add GPL Version 2 code
 and therefore, elected the GPL Version 2 license, then the option applies
 only if the new code is made subject to such option by the copyright
 holder.
-->

<!-- edited with XMLSPY v5 rel. 2 U (http://www.xmlspy.com) by Gunther Stuhec (UBL) -->
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by Gunther Stuhec (SAP AG Walldorf) -->
<!-- edited with XML Spy v5.0 (http://www.xmlspy.com) by Tim McGrath (UBL LC) 18-Jan-2003 -->
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema targetNamespace="urn:oasis:names:tc:ubl:CoreComponentTypes:1.0:0.70" xmlns:cct="urn:oasis:names:tc:ubl:CoreComponentTypes:1.0:0.70" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--Group of common attributes which be used in all Core Components (aggregate and basic).-->
	<xsd:attributeGroup name="commonAttributes">
		<xsd:attribute name="UID" type="xsd:ID" use="optional"/>
		<xsd:attribute name="UIDRef" type="xsd:IDREF" use="optional"/>
		<xsd:attribute name="UIDRefs" type="xsd:IDREFS" use="optional"/>
		<xsd:attribute name="language" type="xsd:language" use="optional" default="en"/>
	</xsd:attributeGroup>
	<!-- ##### CORE COMPONENT TYPES  ##### -->
	<!--All definitons with ID = CCT* are Core Component Types according the ebXML Core Component Specification v 1.85 and V1.90-->
	<!--All definitons with ID = CCS* are Core Component Supplementary Components according the ebXML Core Component Specification V1.90-->
	<!--All definitons with with ID = CCD* are Core Component Data Types according the ebXML Core Component Specification V1.90-->
	<!-- ===== CCT: AmountType ===== -->
	<xsd:complexType name="AmountType" id="CCT000105">
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="currencyID" type="xsd:token" use="required" id="CCS000107"/>
				<xsd:attribute name="codeListVersionID" type="xsd:token" use="optional" default="2002"/>
				<xsd:attributeGroup ref="cct:commonAttributes"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== CCT: BinaryObjectContent ===== -->
	<xsd:complexType name="BinaryObjectType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:base64Binary">
				<xsd:attribute name="mimeCode" type="xsd:token" use="optional"/>
				<xsd:attribute name="charsetCode" type="xsd:token" use="optional"/>
				<xsd:attribute name="filename" type="xsd:token" use="optional"/>
				<xsd:attribute name="URI" type="xsd:anyURI" use="optional"/>
				<xsd:attributeGroup ref="cct:commonAttributes"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== CCT: CodeType ===== -->
	<xsd:complexType name="CodeType" id="CCT000089">
		<xsd:simpleContent>
			<xsd:extension base="xsd:token">
				<xsd:attribute name="listID" type="xsd:token" use="optional"/>
				<xsd:attribute name="listAgencyID" type="xsd:token" use="optional"/>
				<xsd:attribute name="listVersionID" type="xsd:token" use="optional"/>
				<xsd:attribute name="listAgencySchemeID" type="xsd:token" use="optional"/>
				<xsd:attribute name="listAgencySchemeAgencyID" type="xsd:token" use="optional"/>
				<xsd:attribute name="name" type="xsd:token" use="optional"/>
				<xsd:attribute name="languageID" type="xsd:language" use="optional"/>
				<xsd:attribute name="listURI" type="xsd:anyURI" use="optional"/>
				<xsd:attribute name="listSchemeURI" type="xsd:anyURI" use="optional"/>
				<xsd:attributeGroup ref="cct:commonAttributes"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== CCT: DateTimeType ===== -->
	<xsd:complexType name="DateTimeType" id="CCT000066">
		<xsd:simpleContent>
			<xsd:extension base="xsd:dateTime">
				<xsd:attributeGroup ref="cct:commonAttributes"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== CCT: DateType ===== -->
	<xsd:complexType name="DateType" id="CCD000661">
		<xsd:simpleContent>
			<xsd:extension base="xsd:date">
				<xsd:attributeGroup ref="cct:commonAttributes"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== CCT: TimeType ===== -->
	<xsd:complexType name="TimeType" id="CCD000662">
		<xsd:simpleContent>
			<xsd:extension base="xsd:time">
				<xsd:attributeGroup ref="cct:commonAttributes"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== CCT: IdentifierType ===== -->
	<xsd:complexType name="IdentifierType" id="CCT000101">
		<xsd:simpleContent>
			<xsd:extension base="xsd:token">
				<xsd:attribute name="schemeID" type="xsd:token" use="optional"/>
				<xsd:attribute name="schemeAgencyID" type="xsd:token" use="optional"/>
				<xsd:attribute name="schemeVersionID" type="xsd:token" use="optional"/>
				<xsd:attribute name="schemeAgencySchemeID" type="xsd:token" use="optional"/>
				<xsd:attribute name="schemeAgencySchemeAgencyID" type="xsd:token" use="optional"/>
				<xsd:attribute name="schemeDataURI" type="xsd:anyURI" use="optional"/>
				<xsd:attribute name="schemeURI" type="xsd:anyURI" use="optional"/>
				<xsd:attributeGroup ref="cct:commonAttributes"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== CCT: IndicatorType ===== -->
	<xsd:complexType name="IndicatorType" id="CCT000180">
		<xsd:simpleContent>
			<xsd:extension base="xsd:boolean">
				<xsd:attributeGroup ref="cct:commonAttributes"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== CCT: MeasureType ===== -->
	<xsd:complexType name="MeasureType" id="CCT000152">
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="unitCode" type="xsd:token" use="required" id="CCS000154"/>
				<xsd:attribute name="unitCodeListVersionID" type="xsd:token" use="optional" default="2002"/>
				<xsd:attributeGroup ref="cct:commonAttributes"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== CCT: NumericType ===== -->
	<xsd:complexType name="NumericType" id="CCT000204">
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attributeGroup ref="cct:commonAttributes"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== CCT: PercentType ===== -->
	<xsd:complexType name="PercentType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attributeGroup ref="cct:commonAttributes"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== CCT: QuantityType ===== -->
	<xsd:complexType name="QuantityType" id="CCT000108">
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="unitCode" type="xsd:token" use="required" id="CCS000109"/>
				<xsd:attribute name="unitCodeListID" type="xsd:normalizedString" use="optional" default="Rec20" id="CCS000111"/>
				<xsd:attribute name="unitCodeListAgencyID" type="xsd:normalizedString" use="optional" default="UN/CEFACT" id="CCS000112"/>
				<xsd:attribute name="unitCodeListVersionID" type="xsd:normalizedString" use="optional" default="2002"/>
				<xsd:attributeGroup ref="cct:commonAttributes"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== CCT: TextType ===== -->
	<xsd:complexType name="TextType" id="CCT000090">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="languageID" type="xsd:language" use="optional" default="en" id="CCS000075"/>
				<xsd:attributeGroup ref="cct:commonAttributes"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== CCT: NameType ===== -->
	<xsd:complexType name="NameType" id="CCD000901">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="languageID" type="xsd:language" use="optional" default="en"/>
				<xsd:attributeGroup ref="cct:commonAttributes"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== CCT: ElectronicAddressType ===== -->
	<xsd:complexType name="ElectronicAddressType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:anyURI">
				<xsd:attribute name="protocolID" type="xsd:token" use="required"/>
				<xsd:attribute name="languageID" type="xsd:language" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
