jaxb-ri/samples/src/main/samples/ubl/0p70/xsd/UBL_Library_0p70_DespatchAdvice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.

    Copyright (c) 1997-2017 Oracle and/or its affiliates. All rights reserved.

    The contents of this file are subject to the terms of either the GNU
    General Public License Version 2 only ("GPL") or the Common Development
    and Distribution License("CDDL") (collectively, the "License").  You
    may not use this file except in compliance with the License.  You can
    obtain a copy of the License at
    https://oss.oracle.com/licenses/CDDL+GPL-1.1
    or LICENSE.txt.  See the License for the specific
    language governing permissions and limitations under the License.

    When distributing the software, include this License Header Notice in each
    file and include the License file at LICENSE.txt.

    GPL Classpath Exception:
    Oracle designates this particular file as subject to the "Classpath"
    exception as provided by Oracle in the GPL Version 2 section of the License
    file that accompanied this code.

    Modifications:
    If applicable, add the following below the License Header, with the fields
    enclosed by brackets [] replaced by your own identifying information:
    "Portions Copyright [year] [name of copyright owner]"

    Contributor(s):
    If you wish your version of this file to be governed by only the CDDL or
    only the GPL Version 2, indicate your decision by adding "[Contributor]
    elects to include this software in this distribution under the [CDDL or GPL
    Version 2] license."  If you don't indicate a single choice of license, a
    recipient has the option to distribute your version of this file under
    either the CDDL, the GPL Version 2 or to extend the choice of license to
    its licensees as provided above.  However, if you add GPL Version 2 code
    and therefore, elected the GPL Version 2 license, then the option applies
    only if the new code is made subject to such option by the copyright
    holder.

-->

<!-- 26 Aug 2002 - source: UBL_Library_0p70_DespatchAdvice.xls -->
<!-- Created by: Gunther Stuhec, SAP AG -->
<!-- 16 Jan 2003 - source: UBL_Library_0p70_DespatchAdvice.xls -->
<!-- Edited by: Tim McGrath, UBL LC -->
<!-- 21 Jan 2003 - source: UBL_Library_0p70_DespatchAdvice.xls -->
<!-- Edited by: Gunther Stuhec, UBL NDRSC, SAP AG -->
<!-- 25 Jan 2003 - source: UBL_Library_0p70_DespatchAdvice.xls -->
<!-- Edited by: Tim McGrath, UBL LC -->
<xsd:schema targetNamespace="urn:oasis:names:tc:ubl:DespatchAdvice:1.0:0.70" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:oasis:names:tc:ubl:DespatchAdvice:1.0:0.70" 
xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1.0:0.70" xmlns:cct="urn:oasis:names:tc:ubl:CoreComponentTypes:1.0:0.70" xmlns:cat="urn:oasis:names:tc:ubl:CommonAggregateTypes:1.0:0.70">
	<xsd:import namespace="urn:oasis:names:tc:ubl:CoreComponentParameters:1.0:0.70" schemaLocation="CoreComponentParameters.xsd"/>
	<xsd:import namespace="urn:oasis:names:tc:ubl:CoreComponentTypes:1.0:0.70" schemaLocation="CoreComponentTypes.xsd"/>
	<xsd:import namespace="urn:oasis:names:tc:ubl:CommonAggregateTypes:1.0:0.70" schemaLocation="UBL_Library_0p70_Reusable.xsd"/>
	<xsd:element name="DespatchAdvice" type="DespatchAdviceType"/>
	<xsd:complexType name="DespatchAdviceType" id="UBL500001">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:ABIE dictionaryEntryName="Despatch Advice. Details" definition="information directly relating to the despatch advice." qualifierTermObjectClassTerm="" objectClassTerm="Despatch Advice" qualifierTerm_PropertyTerm="" propertyTerm="" representationTerm="Details" xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1.0:0.70"/>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="cat:ID" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:BBIE dictionaryEntryName="Despatch Advice. Identifier" definition="holds the unique number that identifies the Despatch Advice, typically according to the seller's system that generated the Despatch Advice" qualifierTermObjectClassTerm="" objectClassTerm="Despatch Advice" qualifierTerm_PropertyTerm="" propertyTerm="Identification" representationTerm="Identifier" xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1.0:0.70"/>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cat:IssueDate" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:BBIE dictionaryEntryName="Despatch Advice. Issue_ Date" definition="the date when the despatch advice was issued." qualifierTermObjectClassTerm="" objectClassTerm="Despatch Advice" qualifierTerm_PropertyTerm="Issue" propertyTerm="Date" representationTerm="Date" xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1.0:0.70"/>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="DeliveryDate" id="UBL500004" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:BBIE dictionaryEntryName="Despatch Advice. Delivery_ Date" definition="advises the date when delivery will be made." qualifierTermObjectClassTerm="" objectClassTerm="Despatch Advice" qualifierTerm_PropertyTerm="Delivery" propertyTerm="Date" representationTerm="Date" xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1.0:0.70"/>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cat:TypeCode" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:BBIE dictionaryEntryName="Despatch Advice. Type. Code" definition="Identifies the type of the Despatch Advice." qualifierTermObjectClassTerm="" objectClassTerm="Despatch Advice" qualifierTerm_PropertyTerm="" propertyTerm="Type" representationTerm="Code" xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1.0:0.70"/>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="LanguageCode" id="UBL500006" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:BBIE dictionaryEntryName="Despatch Advice. Language. Code" definition="identifies the language of the Despatch Advice." qualifierTermObjectClassTerm="" objectClassTerm="Despatch Advice" qualifierTerm_PropertyTerm="" propertyTerm="Language" representationTerm="Code" xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1.0:0.70"/>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="Notes" id="UBL500007" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:BBIE dictionaryEntryName="Despatch Advice. Notes. Text" definition="contains any free form text pertinent to the entire Despatch Advice or to the Despatch Advice message itself. This element may contain notes or any other similar information that is not contained explicitly in another structure. The User should not assume that the receiving application is capable of doing more than storing and/or displaying this information. " qualifierTermObjectClassTerm="" objectClassTerm="Despatch Advice" qualifierTerm_PropertyTerm="" propertyTerm="Notes" representationTerm="Text" xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1.0:0.70"/>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cat:ReferencedOrder" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:ASBIE dictionaryEntryName="Despatch Advice. Referenced_ Order" definition="associates the despatch advice with the order for reference purposes." qualifierTermObjectClassTerm="" objectClassTerm="Despatch Advice" qualifierTerm_PropertyTerm="Referenced" propertyTerm="Order" representationTerm="Order" xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1.0:0.70"/>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cat:BuyerParty" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:ASBIE dictionaryEntryName="Despatch Advice. Buyer_ Party" definition="associates the dspatch advice with information about the buyer involved in the transaction." qualifierTermObjectClassTerm="" objectClassTerm="Despatch Advice" qualifierTerm_PropertyTerm="Buyer" propertyTerm="Party" representationTerm="Party" xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1.0:0.70"/>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cat:SellerParty" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:ASBIE dictionaryEntryName="Despatch Advice. Seller_ Party" definition="associates the dspatch advice with information about the seller involved in the transaction." qualifierTermObjectClassTerm="" objectClassTerm="Despatch Advice" qualifierTerm_PropertyTerm="Seller" propertyTerm="Party" representationTerm="Party" xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1.0:0.70"/>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cat:FreightForwarderParty" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:ASBIE dictionaryEntryName="Despatch Advice. Freight Forwarder_ Party" definition="associates the dspatch advice with information about the freight forwarder involved in the transaction." qualifierTermObjectClassTerm="" objectClassTerm="Despatch Advice" qualifierTerm_PropertyTerm="Freight Forwarder" propertyTerm="Party" representationTerm="Party" xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1.0:0.70"/>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cat:DeliveryRequirement" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:ASBIE dictionaryEntryName="Despatch Advice. Delivery Requirement" definition="associates the despatch advice with one delivery requirement." qualifierTermObjectClassTerm="" objectClassTerm="Despatch Advice" qualifierTerm_PropertyTerm="" propertyTerm="Delivery Requirement" representationTerm="Delivery Requirement" xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1.0:0.70"/>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cat:DespatchedTransportHandlingUnit" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:ASBIE dictionaryEntryName="Despatch Advice. Despatched_ Transport Handling Unit" definition="associates the dspatch advice with zero or more transport handling units (THU). The advice may be organised in this way with dspatch 'lines' within each THU." qualifierTermObjectClassTerm="" objectClassTerm="Despatch Advice" qualifierTerm_PropertyTerm="Despatched" propertyTerm="Transport Handling Unit" representationTerm="Transport Handling Unit" xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1.0:0.70"/>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cat:DespatchLine" minOccurs="1" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:ASBIE dictionaryEntryName="Despatch Advice. Despatch Line" definition="associates the dspatch advice advice with one or more dspatch 'lines' which are annotated to show which transport handling units (THU) each line is within. If THUs are not used, there is just a series of dspatch 'lines' with no THU annotation." qualifierTermObjectClassTerm="" objectClassTerm="Despatch Advice" qualifierTerm_PropertyTerm="" propertyTerm="Despatch Line" representationTerm="Despatch Line" xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1.0:0.70"/>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cat:ActualShipment" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:ASBIE dictionaryEntryName="Despatch Advice. Actual_ Shipment" definition="associates the despatch advice with actual shipment detail. (Note that this relationship comes into play when the transaction has moved from the order state to the delivery state.)" qualifierTermObjectClassTerm="" objectClassTerm="Despatch Advice" qualifierTerm_PropertyTerm="Actual" propertyTerm="Shipment" representationTerm="Shipment" xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1.0:0.70"/>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cat:DeliveryTerms" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:ASBIE dictionaryEntryName="Despatch Advice. Delivery Terms" definition="associates the despatch advice with the terms agreed between seller and buyer with regard to the delivery of goods." qualifierTermObjectClassTerm="" objectClassTerm="Despatch Advice" qualifierTerm_PropertyTerm="" propertyTerm="Delivery Terms" representationTerm="Delivery Terms" xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1.0:0.70"/>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="DeliveryDate" type="cct:DateType"/>
	<xsd:element name="LanguageCode" type="cct:CodeType"/>
	<xsd:element name="Notes" type="cct:TextType"/>
</xsd:schema>
