jaxb-ri/samples/src/main/samples/ubl/0p70/xsd/UBL_Library_0p70_OrderResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.

    Copyright (c) 1997-2017 Oracle and/or its affiliates. All rights reserved.

    The contents of this file are subject to the terms of either the GNU
    General Public License Version 2 only ("GPL") or the Common Development
    and Distribution License("CDDL") (collectively, the "License").  You
    may not use this file except in compliance with the License.  You can
    obtain a copy of the License at
    https://oss.oracle.com/licenses/CDDL+GPL-1.1
    or LICENSE.txt.  See the License for the specific
    language governing permissions and limitations under the License.

    When distributing the software, include this License Header Notice in each
    file and include the License file at LICENSE.txt.

    GPL Classpath Exception:
    Oracle designates this particular file as subject to the "Classpath"
    exception as provided by Oracle in the GPL Version 2 section of the License
    file that accompanied this code.

    Modifications:
    If applicable, add the following below the License Header, with the fields
    enclosed by brackets [] replaced by your own identifying information:
    "Portions Copyright [year] [name of copyright owner]"

    Contributor(s):
    If you wish your version of this file to be governed by only the CDDL or
    only the GPL Version 2, indicate your decision by adding "[Contributor]
    elects to include this software in this distribution under the [CDDL or GPL
    Version 2] license."  If you don't indicate a single choice of license, a
    recipient has the option to distribute your version of this file under
    either the CDDL, the GPL Version 2 or to extend the choice of license to
    its licensees as provided above.  However, if you add GPL Version 2 code
    and therefore, elected the GPL Version 2 license, then the option applies
    only if the new code is made subject to such option by the copyright
    holder.

-->

<!-- 26 Aug 2002 - source: UBL_Library_0p70_OrderResponse.xls -->
<!-- Created by: Gunther Stuhec, SAP AG -->
<!-- 16 Jan 2003 - source: UBL_Library_0p70_OrderResponse.xls -->
<!-- Edited by: Tim McGrath, UBL LC -->
<!-- 21 Jan 2003 - source: UBL_Library_0p70_OrderResponse.xls -->
<!-- Edited by: Gunther Stuhec, UBL NDRSC, SAP AG -->
<!-- 25 Jan 2003 - source: UBL_Library_0p70_OrderResponse.xls -->
<!-- Edited by: Tim McGrath, UBL LC -->
<xsd:schema targetNamespace="urn:oasis:names:tc:ubl:OrderResponse:1.0:0.70" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:oasis:names:tc:ubl:OrderResponse:1.0:0.70" 
xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1.0:0.70" xmlns:cct="urn:oasis:names:tc:ubl:CoreComponentTypes:1.0:0.70" xmlns:cat="urn:oasis:names:tc:ubl:CommonAggregateTypes:1.0:0.70">
	<xsd:import namespace="urn:oasis:names:tc:ubl:CoreComponentParameters:1.0:0.70" schemaLocation="CoreComponentParameters.xsd"/>
	<xsd:import namespace="urn:oasis:names:tc:ubl:CoreComponentTypes:1.0:0.70" schemaLocation="CoreComponentTypes.xsd"/>
	<xsd:import namespace="urn:oasis:names:tc:ubl:CommonAggregateTypes:1.0:0.70" schemaLocation="UBL_Library_0p70_Reusable.xsd"/>
	<xsd:element name="OrderResponse" type="OrderResponseType"/>
	<xsd:complexType name="OrderResponseType" id="UBL300001">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:ABIE dictionaryEntryName="Order Response. Details" definition="information directly relating to the order response." qualifierTermObjectClassTerm="" objectClassTerm="Order Response" qualifierTerm_PropertyTerm="" propertyTerm="Details" representationTerm="Details" xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1.0:0.70"/>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="cat:ID" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:BBIE dictionaryEntryName="Order Response. Identifier" definition="The Order Response Id element is a unique number assigned to the OrderResponse by the Seller." qualifierTermObjectClassTerm="" objectClassTerm="Order Response" qualifierTerm_PropertyTerm="" propertyTerm="Identification" representationTerm="Identifier" xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1.0:0.70"/>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cat:IssueDate" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:BBIE dictionaryEntryName="Order Response. Issue_ Date" definition="a date (and potentially time) stamp denoting when the order response was issued." qualifierTermObjectClassTerm="" objectClassTerm="Order Response" qualifierTerm_PropertyTerm="Issue" propertyTerm="Date" representationTerm="Date" xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1.0:0.70"/>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TransactionCurrencyCode" id="UBL300004" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:BBIE dictionaryEntryName="Order Response. Transaction_ Currency. Code" definition="the default currency of the Order transaction, which will be used for Invoicing." qualifierTermObjectClassTerm="" objectClassTerm="Order Response" qualifierTerm_PropertyTerm="Transaction" propertyTerm="Currency" representationTerm="Code" xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1.0:0.70"/>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="PricingCurrencyCode" id="UBL300005" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:BBIE dictionaryEntryName="Order Response. Pricing_ Currency. Code" definition="the currency in which all pricing on the transaction will be specified." qualifierTermObjectClassTerm="" objectClassTerm="Order Response" qualifierTerm_PropertyTerm="Pricing" propertyTerm="Currency" representationTerm="Code" xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1.0:0.70"/>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="EarliestDate" id="UBL300006" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:BBIE dictionaryEntryName="Order Response. Earliest_ Date" definition="the starting date on or after which Order should be considered valid" qualifierTermObjectClassTerm="" objectClassTerm="Order Response" qualifierTerm_PropertyTerm="Earliest" propertyTerm="Date" representationTerm="Date" xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1.0:0.70"/>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="CancelledByDate" id="UBL300007" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:BBIE dictionaryEntryName="Order Response. Cancelled By_ Date" definition="the date on or after which Order should be cancelled." qualifierTermObjectClassTerm="" objectClassTerm="Order Response" qualifierTerm_PropertyTerm="Cancelled By" propertyTerm="Date" representationTerm="Date" xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1.0:0.70"/>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ValidityDurationMeasure" id="UBL300008" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:BBIE dictionaryEntryName="Order Response. Validity_ Duration. Measure" definition="the period for which the order is valid." qualifierTermObjectClassTerm="" objectClassTerm="Order Response" qualifierTerm_PropertyTerm="Validity" propertyTerm="Duration" representationTerm="Measure" xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1.0:0.70"/>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="LineitemCountQuantity" id="UBL300009" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:BBIE dictionaryEntryName="Order Response. Lineitem_ Count. Quantity" definition="the number of line items in the order." qualifierTermObjectClassTerm="" objectClassTerm="Order Response" qualifierTerm_PropertyTerm="LineItem" propertyTerm="Count" representationTerm="Quantity" xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1.0:0.70"/>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TaxTotalAmount" id="UBL300010" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:BBIE dictionaryEntryName="Order Response. Tax_ Total. Amount" definition="the total tax amount for the Order." qualifierTermObjectClassTerm="" objectClassTerm="Order Response" qualifierTerm_PropertyTerm="Tax" propertyTerm="Total" representationTerm="Amount" xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1.0:0.70"/>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cat:LineExtensionTotalAmount" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:BBIE dictionaryEntryName="Order Response. Line Extension_ Total. Amount" definition="the total of line item extension amounts for the entire Order, but not adjusted by any payment settlement discount or taxation." qualifierTermObjectClassTerm="" objectClassTerm="Order Response" qualifierTerm_PropertyTerm="Line Extension" propertyTerm="Total" representationTerm="Amount" xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1.0:0.70"/>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TotalPackagesCountQuantity" id="UBL300012" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:BBIE dictionaryEntryName="Order Response. Total Packages_ Count. Quantity" definition="the count of the total number of packages contained in the purchase order." qualifierTermObjectClassTerm="" objectClassTerm="Order Response" qualifierTerm_PropertyTerm="Total Packages" propertyTerm="Count" representationTerm="Quantity" xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1.0:0.70"/>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cat:GrossWeightMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:BBIE dictionaryEntryName="Order Response. Gross_ Weight. Measure" definition="the total gross weight of the order." qualifierTermObjectClassTerm="" objectClassTerm="Order Response" qualifierTerm_PropertyTerm="Gross" propertyTerm="Weight" representationTerm="Measure" xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1.0:0.70"/>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cat:NetWeightMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:BBIE dictionaryEntryName="Order Response. Net_ Weight. Measure" definition="the total net weight of the order." qualifierTermObjectClassTerm="" objectClassTerm="Order Response" qualifierTerm_PropertyTerm="Net" propertyTerm="Weight" representationTerm="Measure" xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1.0:0.70"/>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cat:NetNetWeightMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:BBIE dictionaryEntryName="Order Response. Net Net_ Weight. Measure" definition="the weight (mass) of the goods themselves without any packing. Sometimes known as the &quot;NetNet Weight&quot;" qualifierTermObjectClassTerm="" objectClassTerm="Order Response" qualifierTerm_PropertyTerm="Net Net" propertyTerm="Weight" representationTerm="Measure" xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1.0:0.70"/>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cat:GrossVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:BBIE dictionaryEntryName="Order Response. Gross_ Volume. Measure" definition="the total volume of the order." qualifierTermObjectClassTerm="" objectClassTerm="Order Response" qualifierTerm_PropertyTerm="Gross" propertyTerm="Volume" representationTerm="Measure" xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1.0:0.70"/>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cat:NetVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:BBIE dictionaryEntryName="Order Response. Net_ Volume. Measure" definition="the total volume of the order." qualifierTermObjectClassTerm="" objectClassTerm="Order Response" qualifierTerm_PropertyTerm="Net" propertyTerm="Volume" representationTerm="Measure" xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1.0:0.70"/>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cat:ReferencedOrder" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:ASBIE dictionaryEntryName="Order Response. Referenced_ Order" definition="associates the order response with the order for reference purposes." qualifierTermObjectClassTerm="" objectClassTerm="Order Response" qualifierTerm_PropertyTerm="Referenced" propertyTerm="Order" representationTerm="Order" xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1.0:0.70"/>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cat:BuyerParty" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:ASBIE dictionaryEntryName="Order Response. Buyer_ Party" definition="associates the order response with information about the buyer involved in the transaction." qualifierTermObjectClassTerm="" objectClassTerm="Order Response" qualifierTerm_PropertyTerm="Buyer" propertyTerm="Party" representationTerm="Party" xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1.0:0.70"/>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cat:SellerParty" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:ASBIE dictionaryEntryName="Order Response. Seller_ Party" definition="associates the order response with information about the seller involved in the transaction." qualifierTermObjectClassTerm="" objectClassTerm="Order Response" qualifierTerm_PropertyTerm="Seller" propertyTerm="Party" representationTerm="Party" xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1.0:0.70"/>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cat:FreightForwarderParty" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:ASBIE dictionaryEntryName="Order Response. Freight Forwarder_ Party" definition="associates the order response with information about the freight forwarder involved in the transaction." qualifierTermObjectClassTerm="" objectClassTerm="Order Response" qualifierTerm_PropertyTerm="Freight Forwarder" propertyTerm="Party" representationTerm="Party" xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1.0:0.70"/>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cat:AllowanceCharge" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:ASBIE dictionaryEntryName="Order Response. Allowance Charge" definition="associates the order response with one or more pricing components for overall charges allowances etc." qualifierTermObjectClassTerm="" objectClassTerm="Order Response" qualifierTerm_PropertyTerm="" propertyTerm="Allowance Charge" representationTerm="Allowance Charge" xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1.0:0.70"/>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cat:SalesConditions" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:ASBIE dictionaryEntryName="Order Response. Sales Conditions" definition="associates the order response with one sales conditions applying to the whole order response." qualifierTermObjectClassTerm="" objectClassTerm="Order Response" qualifierTerm_PropertyTerm="" propertyTerm="Sales Conditions" representationTerm="Sales Conditions" xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1.0:0.70"/>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cat:DeliveryTerms" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:ASBIE dictionaryEntryName="Order Response. Delivery Terms" definition="associates the order response with delivery terms agreed between seller and buyer with regard to the delivery of goods." qualifierTermObjectClassTerm="" objectClassTerm="Order Response" qualifierTerm_PropertyTerm="" propertyTerm="Delivery Terms" representationTerm="Delivery Terms" xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1.0:0.70"/>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cat:DestinationCountry" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:ASBIE dictionaryEntryName="Order Response. Destination_ Country" definition="associates the order response with the country to which it is destined, for Customs purposes. " qualifierTermObjectClassTerm="" objectClassTerm="Order Response" qualifierTerm_PropertyTerm="Destination" propertyTerm="Country" representationTerm="Country" xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1.0:0.70"/>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cat:ReferencedOrderLine" minOccurs="1" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:ASBIE dictionaryEntryName="Order Response. Referenced_ Order Line" definition="associates the order response with one or more Order Lines." qualifierTermObjectClassTerm="" objectClassTerm="Order Response" qualifierTerm_PropertyTerm="Referenced" propertyTerm="Order Line" representationTerm="Order Line" xmlns:ccts="urn:oasis:names:tc:ubl:CoreComponentParameters:1.0:0.70"/>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="CancelledByDate" type="cct:DateType"/>
	<xsd:element name="EarliestDate" type="cct:DateType"/>
	<xsd:element name="LineitemCountQuantity" type="cct:QuantityType"/>
	<xsd:element name="PricingCurrencyCode" type="cct:CodeType"/>
	<xsd:element name="TaxTotalAmount" type="cct:AmountType"/>
	<xsd:element name="TotalPackagesCountQuantity" type="cct:QuantityType"/>
	<xsd:element name="TransactionCurrencyCode" type="cct:CodeType"/>
	<xsd:element name="ValidityDurationMeasure" type="cct:MeasureType"/>
</xsd:schema>
