samples/samples-src/fix-collides/example.xsd

<!--
 The contents of this file are subject to the terms
 of the Common Development and Distribution License
 (the "License").  You may not use this file except
 in compliance with the License.
 
 You can obtain a copy of the license at
 https://jwsdp.dev.java.net/CDDLv1.0.html
 See the License for the specific language governing
 permissions and limitations under the License.
 
 When distributing Covered Code, include this CDDL
 HEADER in each file and include the License file at
 https://jwsdp.dev.java.net/CDDLv1.0.html  If applicable,
 add the following below this CDDL HEADER, with the
 fields enclosed by brackets "[]" replaced with your
 own identifying information: Portions Copyright [yyyy]
 [name of copyright owner]
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
           jxb:version="1.0">

  <!-- Demonstrate how to fix this keyword usage error. -->
  <xs:element name="Class" type="xs:int"/>

  <xs:element name="FooBar" type="FooBar"/>

  <xs:complexType name="FooBar">
    <xs:sequence>
      <xs:element name="foo" type="xs:int"/>
      <xs:element ref="Class"/>
      <!-- collision between attribute and element with same name, zip -->
      <xs:element name="zip" type="xs:int"/>
    </xs:sequence>
    <xs:attribute name="zip" type="xs:string"/>
  </xs:complexType>
</xs:schema>
<!--  Following errors are generated by xjc when binding.xjb does
      not fix the customization errors.
-->
<!-- 
      [xjc] [ERROR] Property name "Class" is reserved by java.lang.Object.
      [xjc]   line 19 of file:fix-collides/example
.xsd
      [xjc] [ERROR] Property "Zip" is already defined.
      [xjc]   line 20 of file:fix-collides/example
.xsd
      [xjc] [ERROR] The following location is relevant to the above error
      [xjc]   line 22 of file:fix-collides/example
.xsd
-->


