jaxb-ri/jxc/src/main/java/com/sun/tools/jxc/gen/config/config.rng

<?xml version="1.0"?>
<!--

    DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.

    Copyright (c) 1997-2011 Oracle and/or its affiliates. All rights reserved.

    The contents of this file are subject to the terms of either the GNU
    General Public License Version 2 only ("GPL") or the Common Development
    and Distribution License("CDDL") (collectively, the "License").  You
    may not use this file except in compliance with the License.  You can
    obtain a copy of the License at
    https://glassfish.dev.java.net/public/CDDL+GPL_1_1.html
    or packager/legal/LICENSE.txt.  See the License for the specific
    language governing permissions and limitations under the License.

    When distributing the software, include this License Header Notice in each
    file and include the License file at packager/legal/LICENSE.txt.

    GPL Classpath Exception:
    Oracle designates this particular file as subject to the "Classpath"
    exception as provided by Oracle in the GPL Version 2 section of the License
    file that accompanied this code.

    Modifications:
    If applicable, add the following below the License Header, with the fields
    enclosed by brackets [] replaced by your own identifying information:
    "Portions Copyright [year] [name of copyright owner]"

    Contributor(s):
    If you wish your version of this file to be governed by only the CDDL or
    only the GPL Version 2, indicate your decision by adding "[Contributor]
    elects to include this software in this distribution under the [CDDL or GPL
    Version 2] license."  If you don't indicate a single choice of license, a
    recipient has the option to distribute your version of this file under
    either the CDDL, the GPL Version 2 or to extend the choice of license to
    its licensees as provided above.  However, if you add GPL Version 2 code
    and therefore, elected the GPL Version 2 license, then the option applies
    only if the new code is made subject to such option by the copyright
    holder.

-->

<grammar
 xmlns="http://relaxng.org/ns/structure/1.0"
 xmlns:r="http://relaxng.org/ns/structure/1.0"
 xmlns:a="http://relaxng.org/ns/annotation/1.0"
 xmlns:ref="urn:crossreference"
 xmlns:c="http://www.xml.gr.jp/xmlns/relaxngcc"
 c:runtime-type="com.sun.tools.jxc.NGCCRuntimeEx"
 datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
 c:package="com.sun.tools.jxc.gen.config">


<start c:class="Config" c:access="public">

 <c:java-import>
    import java.util.List;
    import java.util.ArrayList;
    import java.io.File;
 </c:java-import>

<c:java-body>
   private File baseDir;
   private Classes classes;
   private List schema = new ArrayList();
   public Classes getClasses() { return this.classes;}
   public File getBaseDir() { return baseDir;}
   public List getSchema() { return this.schema;}
</c:java-body>

  <element name="config">
     <attribute name="baseDir">
        bd = <data type="string"/>
        baseDir = $runtime.getBaseDir(bd);
     </attribute>
     <ref name="Classes" c:alias="classes"/>
     <zeroOrMore>
        <ref name="Schema" c:alias="_schema" />(baseDir);
        this.schema.add (_schema);
     </zeroOrMore>
     </element>
  </start>


   <define name="Classes" c:access="public">
   <c:java-import>
    import java.util.List;
    import java.util.ArrayList;
    </c:java-import>
     <c:java-body>
       private List includes = new ArrayList();
       public List getIncludes() { return $runtime.getIncludePatterns(this.includes);}
       private List excludes = new ArrayList();
       public List getExcludes() { return $runtime.getExcludePatterns(this.excludes);}
       </c:java-body>
     <element name="classes">

        <element name="includes">
            <list>
               <oneOrMore>
                <data type="string" c:alias="include_content"/>
                <c:java> this.includes.add(include_content); </c:java>
               </oneOrMore>
            </list>

         </element>
        <optional>
        <element name="excludes">
            <list>
               <zeroOrMore>
                <data type="string" c:alias="exclude_content"/>
                <c:java> this.excludes.add(exclude_content); </c:java>
               </zeroOrMore>
            </list>

         </element>
        </optional>
     </element>
    </define>


   <define name="Schema" c:access="public" c:params="File baseDir">
     <c:java-import>
       import java.io.File;
     </c:java-import>
     <c:java-body>
       private File location;
       private String namespace;
       public String getNamespace() { return this.namespace;}
       public File getLocation() { return this.location;}
     </c:java-body>
     <element name="schema">
       <optional>
         <attribute name="namespace">
           namespace = <data type="string" />
         </attribute>
       </optional>

       <optional>
         <attribute name="location">
           loc = <data type="string" />
           location = new File(baseDir,loc);
         </attribute>
       </optional>
     </element>
  </define>
</grammar>
