jaxb-ri/xjc/src/com/sun/tools/jxc/gen/config/config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- THIS IS A GENERATED FILE. DO NOT MODIFY. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="config">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="classes"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="schema"/>
      </xs:sequence>
      <xs:attribute name="baseDir" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="classes">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="includes"/>
        <xs:element minOccurs="0" ref="excludes"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="includes">
    <xs:simpleType>
      <xs:restriction>
        <xs:simpleType>
          <xs:list itemType="xs:string"/>
        </xs:simpleType>
        <xs:minLength value="1"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="excludes">
    <xs:simpleType>
      <xs:list itemType="xs:string"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="schema">
    <xs:complexType>
      <xs:attribute name="namespace" type="xs:string"/>
      <xs:attribute name="location" type="xs:string"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
